server {
    enabled             = true
    bootstrap_expect    = 3
}

consul {
    address             = "127.0.0.1:8500"
    server_service_name = "nomad"
    client_service_name = "nomad-client"
    auto_advertise      = true
    server_auto_join    = true
    client_auto_join    = true
}

advertise {
    http                = "{{ ansible_default_ipv4.address }}"
    rpc                 = "{{ ansible_default_ipv4.address }}:4647"
    serf                = "{{ ansible_default_ipv4.address }}:4648"
}

client {
    enabled             = true
    network_speed       = 1000
    options = {
        "driver.raw_exec.enable"    = "1"
        "driver.exec.enable"        = "1"
        "driver.docker.enable"      = "1"
    }
}

bind_addr               = "{{ bind_addr }}"
